* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "FiraSans", Helvetica, sans-serif;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 75vh;
}

/* Markdown rendering related */

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    border-bottom: 1px solid gray;
}

p {
    margin: 1rem 0;
}

section {
    margin: 1rem 0;
}

ul {
    padding-left: 0.85em;
    margin: 0.25rem 0;
}

img {
    width: 80%;
}

table {
    border-collapse: collapse;
    min-width: 240px;
}

table td, table th {
    padding: 0.25rem;
}

table th {
    text-align: left;
}

table thead{
    background-color: #444;
}

table tr:nth-child(2n){
    background-color: #333;
}

a {
    color: aqua;
}

a:visited {
    color: skyblue;
}

small {
    font-size: 0.6em;
}

code {
    color: #ff5a96;
    background-color: #222;
}

pre {
    background-color: #272822;
}

pre > code {
    background-color: #272822;
    color: white;
}

div.highlight {
    margin: 2rem 0;
}

div.highlight code {
    color: white;
    line-height: initial;
    font-family: "FiraCode", monospace;
}

div.highlight code > span:nth-child(2n){
    background-color: #2e2f29;
}

time {
    color: #bbb;
    font-size: 0.8em;
}