* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}

/* Markdown rendering related */

p {
    margin: 0.25rem 0;
}

ul {
    padding-left: 1rem;
    margin: 0.25rem 0;
}

img {
    width: 80%;
}

table {
    border-collapse: collapse;
    min-width: 240px;
}

table td, table th {
    padding: 0.25rem;
}

table th {
    text-align: left;
}

table thead{
    background-color: #444;
}

table tr:nth-child(2n){
    background-color: #333;
}

a {
    color: aqua;
}

a:visited {
    color: skyblue;
}