* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "FiraSans", Helvetica, sans-serif;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 50vh;
}

/* Markdown rendering related */

p {
    margin: 0.25rem 0;
}

ul {
    padding-left: 0.85em;
    margin: 0.25rem 0;
}

img {
    width: 80%;
}

table {
    border-collapse: collapse;
    min-width: 240px;
}

table td, table th {
    padding: 0.25rem;
}

table th {
    text-align: left;
}

table thead{
    background-color: #444;
}

table tr:nth-child(2n){
    background-color: #333;
}

a {
    color: aqua;
}

a:visited {
    color: skyblue;
}

small {
    font-size: 0.6em;
}

div.highlight {
    margin: 0.25rem 0;
}

div.highlight code {
    font-family: "FiraCode", monospace;
}

div.highlight code > span:nth-child(2n){
    background-color: #2e2f29;
}

pre > code:not([class]) {
    background-color: #222;
}

p code {
    color: #ff5a96;
    background-color: #222;
}